.list{
    background-image: url("");
    height: 590px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:black;
    
}
.details{
    background-image: url("");
    height: 590px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:white;
    
}